<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  check
  -->
<configuration>
	
	<!--<system.web>
    <customErrors mode="Off"></customErrors>
    <sessionState timeout="600" mode="InProc"></sessionState>
		<compilation debug="true" targetFramework="4.0"/>
	
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>-->



	<system.web>
		<customErrors mode="Off"/>
		<sessionState timeout="600" mode="InProc"/>
		<compilation debug="true" targetFramework="4.0"/>
		<trust level="Full"/>

		<httpRuntime requestValidationMode="2.0"   />
		<pages validateRequest="false" />
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>


	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WS_CandidateSoap" />
			</basicHttpBinding>
			<customBinding>
				<binding name="WS_CandidateSoap12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://www.indiahiring.org/Websrvcs/WS_Candidate.asmx"
       binding="customBinding" bindingConfiguration="WS_CandidateSoap12"
       contract="RRdev_WS_Candidate.WS_CandidateSoap" name="WS_CandidateSoap12" />
		</client>
	</system.serviceModel>
	<appSettings>
		<add key="TimeSpan" value="750"/>
	</appSettings>
</configuration>
